language: cpp

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise
        packages:
            - g++-6
            - clang-5.0
matrix:
    include:
        - os: linux
          env: CXX_COMPILER=clang++-5.0
        - os: linux
          env: CXX_COMPILER=g++-6
        - os: osx
          osx_image: xcode8.3
          env: CXX_COMPILER=clang++

before_script:
    - mkdir -p build
    - cd build

script:
    - CXX=${CXX_COMPILER} cmake -DCMAKE_BUILD_TYPE=Debug ..
    - make -j 2
    # run tests
    - CTEST_OUTPUT_ON_FAILURE=1 make test
